<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Sunt studentă în anul 3 la Facultatea de Automatică și Calculatoare din cadrul Universității
 de Știință și Tehnologie Politehnica București, la specializarea Ingineria Sistemelor.
 Consider că am o capacitate bună de a mă concentra și a rezolva probleme tehnice
 dificile, astfel reușind să acumulez cunoștințe noi și să dezvolt proiecte personale diverse
 care mi-au îmbunătățit competențele în domenii precum programare, electronică,
 sisteme integrate și altele.</p>
      </div>
      <div class="col-lg-4">
        <p> Experiența și studiile mele anterioare mi-au oferit oportunitatea de a vedea o varietate de
 tehnologii sau limbaje de programare precum C/C++, HTML, SQL etc. În plus, am abilități
 în înțelegerea și lucrul cu suita Microsoft Office care mă ajută să-mi prezint ideile și
 rezultatele într-o manieră clară și profesionistă. </p>
      </div>
    </div>
  </div>
</section>
