<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I'm a student at the Polytechnic University of Bucharest, 
          within the Faculty of Automatic Control and Computers, 
          specializing in Systems Engineering (Automation and applied informatics), currently in my third year of study. 
          With a strong ability to focus on solving difficult technical problems and developing personal projects,
          I managed to acquire important skills in programming, integrated systems and computer-aided graphics, in programs such as Arduino.</p>
      </div>
      <div class="col-lg-4">
        <p>My previous experience and studies have given me the opportunity to see a variety of
 technologies and some programming languages, including C/C++, HTML or SQL. In
 addition, I have well-versed skills in understanding the MIcrosoft Office suite, including
 Word, PowerPoint, Access and Excel, which help me present my ideas as well as results in
 a clear and professional manner. </p>
      </div>
    </div>
  </div>
</section>
