<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% if post.modal-id == 1 %}
            <p>This is a smart device designed to monitorize the air quality in my room. It is very important to see how values of TVOC are changing when there are some pollution factors such as perfumes, cleaning products (that contains chemical substances) etc. The measured data are then sent to ThingBoard platform where it can be easily observed the values from the entire month, using diagrams. 
   The assembly diagram contains:
      <p>-ESP8266 module-> the main avantage of this microcontroller is that it is possible to connect it to WiFi.</p>
      -Nokia Display 38x48 to display information such as the current time and date, temperature (in degree Celsius), room's humidity, air quality status (clean, tvoc/eco2 index exceeded, air polluted) and the value of the tvoc & eco2 index
      -DHT11 sensor that measures temperature and humidity from the inside
      -CCS811 sensor used for measuring the values for TVOC (Total Volatile Organic Compounds) or ECO2 index.</p>
            {% endif %}
             {% if post.diagram %}
            <p>Assembly Diagram</p>
            <img src ="img/portfolio/{{post.diagram}}" align-items =center>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.author %}
              <li>Author:
                <strong>{{ post.author }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Category:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
                 {% if post.language %}
              <li>Programming Language:
                <strong>{{ post.language }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
