<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.content-img }}" class="img-responsive img-centered" alt="{{ post.alt }}" width = "320" height = "120">
            {% if post.modal-id == 1 %}
            <p style="font-size: 18px;">This is a smart device designed to monitor the air quality in my room. It is very important to see how TVOC values are changing when there are some pollution factors such as perfumes, cleaning products (that contain chemical substances) etc. The measured data is then sent to a ThingBoard server where it can be easily observed the values from the entire month, using diagrams.</p>
     <p style="font-size: 16px" align = "left" >The assembly diagram contains:</p>
     <p style="font-size: 16px" align = "left" >-<a href ="https://octopart.com/datasheet/esp8266-espressif+systems-109669109?msclkid=4e65e03402411f48f43a879a02268ad3&utm_source=bing&utm_medium=cpc&utm_campaign=b_cpc_emea-ro_search_dsa_english_en_usd_all-categories&utm_term=semiconductors&utm_content=Discrete%20Semiconductors%20DSA" target="_blank">ESP8266 module</a>-> the main advantage of this microcontroller is that it can be connected to WiFi.</p>
     <p style="font-size: 16px" align= "left" > -<a href ="https://cdn-learn.adafruit.com/downloads/pdf/nokia-5110-3310-monochrome-lcd.pdf" target="_blank">Nokia Display 84x48</a> to display information such as the current time and date, temperature (in degrees Celsius), room's humidity, air quality status (clean, tvoc/eco2 index exceeded, air polluted) and the value of the tvoc & eco2 indices </p>
     <p style="font-size: 16px" align = "left" > -<a href = "https://www.mouser.com/datasheet/2/758/DHT11-Technical-Data-Sheet-Translated-Version-1143054.pdf" target="_blank">DHT11</a> sensor that measures temperature and humidity from the inside</p>
     <p style="font-size: 16px" align = "left" > -<a href = "https://cdn.sparkfun.com/assets/2/c/c/6/5/CN04-2019_attachment_CCS811_Datasheet_v1-06.pdf" target="_blank">CCS811 sensor</a> used for measuring the values for TVOC (Total Volatile Organic Compounds) or ECO2 index.</p>
     <br><br>
      <p style="font-size: 16px" align = "left" >The data is sent to a ThingsBoard server every 5 minutes. There, graphs can be viewed for each parameter of interest, and the data is displayed over a 7-day period, allowing careful observation of the indices' variations.</p>
      <div>
        <h4>Example of Graphs from ThingsBoard</h4>
      <img src = "img/temperatura.png" class="img-fluid" width="420" height="220" >
        <br>
        <img src = "img/humidity.png">
        <br>
        <img src = "img/tvoc.png" width = auto>
        <br>
        <img src = "img/eco2.png">
      </div> 
        <h4>WiFi Connection</h4>
       <p style="font-size: 16px" align = "left" > If the ESP board detects a network for which it already has saved credentials, then the connection is established without intervention. Otherwise, if no known network is found, a local network called AutoConnectAP will be created. This will open a page based on the local IP address where new credentials (SSID, password) can be entered, which the ESP8266 board will use to connect to WiFi.</p>
            {% endif %}
             {% if post.diagram %}
            <p>Assembly Diagram</p>
            <img src ="img/portfolio/{{post.diagram}}" align-items =center>
            {% endif %}
            {% if post.source%}
            <p><a href = {{post.source}}>Source Code</a></p>
            {%endif%}
            <ul class="list-inline item-details">
              {% if post.author %}
              <li>Author:
                <strong>{{ post.author }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Category:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
                 {% if post.language %}
              <li>Programming Language:
                <strong>{{ post.language }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
